{% extends 'base.html.twig' %}

{% block title %}Edit Quack{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Edit Quack</h1>

    {{ include('quack/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('quack_index') }}">back to list</a>

    {{ include('quack/_delete_form.html.twig') }}
    </div>
{% endblock %}
