{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <div class="container">
        {% if parent is not null %}
            <h1 style="color:darkorange; font-weight: bold">Create new Comment</h1>
        {% elseif parent is null %}
            <h1 style="color:darkorange; font-weight: bold">Create new Quack</h1>
        {% endif %}
        {{ include('quack/_form.html.twig') }}

        <a class="btn-warning" href="{{ path('quack_index') }}">back to list</a>
    </div>
{% endblock %}
